body {
	color: white;
	background: #F2F5FE url("../media/fondo2.gif") repeat-x 0 0;
	overflow: hidden;
}

header {
	margin: 0 0 5px 0;
	/*outline: 1px solid;*/
	padding: 50px;
	background-image: url(../media/nubes.png);
	background-position: 0px 0px;
	background-repeat: repeat-x;
	animation: animatedBackground 40s linear infinite;
	color: black;
	font-family: 'Cracked', fantasy;
	font-style: bold;
}

header h1 {
	margin-top: 10px;
}

.game-panel{
	margin: 2px 0 0 0;
}

#objeto {
	/*border: 1px solid;*/
	padding: 5% 10%;
	overflow: hidden;
}

#contenido {
	/*border: 1px solid;*/
	padding: 5% 5%;
}

#objeto #imagen {
	border: 3px solid white;
}

#izquierda {
	float: left;
	padding-top: 14px;
}

#derecha {
	float: right;
	padding-top: 14px;
}

#objspace {
	display: inline-block;
}

.wideBox {
    clear: both;
    text-align: center;
    width: 90%;
    min-height: 50px;
    margin: 0 5px;
    padding: 10px;
    background: #ffcc99;
    border: 1px solid #333;
    display: inline-block;
    color: black;

    border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 0px solid #000000;
	box-shadow: 5px 5px 2px #000;
}

#izquierda-img {
	height: 100%;
}

#puntuacion {
	margin: 5 0;
	padding: 0 10%;
	text-align: right;
}

#puntuacion #puntos {
	color: green;
	font-size: 30px;
}

#puntuacion #error-msg{
	color: red;
	font-size: 30px;
		padding: 0 0 0 0;
}

#successMessage {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0;
    height: 0;
    z-index: 100;
    color: black;
    background: #dfd;
    border: 2px solid #333;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
    -webkit-box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
    box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
    padding: 20px;
}

/*	Animar fondo*/

	@keyframes animatedBackground {
		from { background-position: 0 0; }
		to { background-position: 100% 0; }
	}

	@-webkit-keyframes animatedBackground {
		from { background-position: 0 0; }
		to { background-position: 100% 0; }
	}
	@-ms-keyframes animatedBackground {
		from { background-position: 0 0; }
		to { background-position: 100% 0; }
	}
	@-moz-keyframes animatedBackground {
		from { background-position: 0 0; }
		to { background-position: 100% 0; }
	}
