
.sidebar {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.64);
    position: fixed;
    color: white;
    padding: 30px;
    padding-top: 10px;
    font-size: 1.5em;
    text-align: center;
    background-color: #222;
    top: 0;
    bottom: 0;
    overflow: auto;
}

.sidebar #brand {
    text-decoration: none;
    color: red;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,0,0,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255,0,0,0.4); 
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.menu {
    /*background-color: #339933;*/
    position: fixed;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    color: #ff7700;
    color: ;
    text-align: center;
    font-size: 2em;
    background: rgba(0,128,0,1);
    background: -moz-linear-gradient(top, rgba(0,128,0,1) 0%, rgba(121,155,95,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,128,0,1)), color-stop(100%, rgba(121,155,95,1)));
    background: -webkit-linear-gradient(top, rgba(0,128,0,1) 0%, rgba(121,155,95,1) 100%);
    background: -o-linear-gradient(top, rgba(0,128,0,1) 0%, rgba(121,155,95,1) 100%);
    background: -ms-linear-gradient(top, rgba(0,128,0,1) 0%, rgba(121,155,95,1) 100%);
    background: linear-gradient(to bottom, rgba(0,128,0,1) 0%, rgba(121,155,95,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008000', endColorstr='#799b5f', GradientType=0 );
}

.menu > div>a {
    position: relative;
    display: block;
    padding: 10px 15px;
    cursor: auto;
    color: #ffcc00;
    text-decoration: none;
}



.menu >  div>a:hover {
    background-color: #222;
    text-decoration: none;
}

.menu > div {
    margin-top: 15%;
}

@media (min-width: 992px) {
    .sidebar {
        width: 12%;
    }

    .menu {
        margin-left: 12%;
    }
}

@media (min-width: 768px) {
    .sidebar {
        width: 16%;
    }

    .menu {
        margin-left: 16%;
    }
}

/*  Instrucciones   */
.wideBox {
    width: 90%;
    padding: 10px;
    overflow: auto;
    /*outline: black solid;*/
    max-height: 400px;
    text-align: justify;
    color: white;
    background-color: #444;
    box-shadow: 5px 5px 2px #000;
    font-size: 15px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px solid #000000;
    display: none;
}