/* Add some margin to the page and set a default font and colour */
body {
    margin: 0 0 30px 0; 
    font-family: "Georgia", serif;
    /*line-height: 1.8em;*/
    color: #333;
    background-color: #c68d2a;
    overflow: hidden;
}

header {
    margin: 0;
    padding-bottom: 5px;
    border: solid 1px black;
    color: white;
    background-color: #2d2558;
}

header #navbar {
    margin:0;
    padding: 0;
}

/* Give headings their own font */
h1, h2, h3, h4 {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

/* Main content area */
#content {
    margin: 40px 50px;
    text-align: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

/* Header/footer boxes */
.wideBox {
    clear: both;
    text-align: center;
    width: 60%;
    min-height: 50px;
    margin: 0 10px;
    padding: 10px;
    background: #3333ff;
    border: 1px solid #333;
    display: inline-block;
}

.wideBox h1 {
    font-weight: bold;
    margin: 0 20px;
    color: white;
    font-size: 1.5em;
}

p {
    color: white;
}

/* Slots for final card positions */
#cardSlots {
    margin: 40px auto 0 auto;
    background: #ddf;
}

/* The initial pile of unsorted cards */
#cardPile {
    margin: 0 auto;
    background: #ffd;
}

#desc {
    margin: 40px auto 0 auto;
    text-align: center;
    height: 70px;
}

#desc #izquierda{
    display: inline-block;
    height: 70px;
    top: 0;
    padding-top: 20px;
}

#desc #derecha {
    display: inline-block;
    height: 70px;
    top: 0;
    padding-top: 20px;
}

#cardSlots, #cardPile {
    /*Sumar 114 por cada nueva carta a añadir*/
    width: 560px;
    height: 120px;
    padding: 20px;
    border: 2px solid #333;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
    box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
}


/* Individual cards and slots */
#cardSlots div, #cardPile div {
    float: left;
    width: 80px;
    height: 80px;
    padding: 10px;
    padding-top: 40px;
    padding-bottom: 0;
    border: 2px solid #333;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin: 0 0 0 10px;
    background: #fff;
    overflow: hidden;
}

#cardSlots div:first-child, #cardPile div:first-child {
    margin-left: 0;
}

#cardSlots div.hovered {
    background: #aaa;
}

#cardSlots div {
    padding-top: 40px;
    padding-bottom: 0;
    border-style: dashed;
}

#cardPile div {
    background: #ff66ff;
    color: #fff;
    font-size: 50px;
    text-shadow: 0 0 3px #000;
    padding-top: 20px;
    padding-bottom: 20px;
}

#cardPile div.ui-draggable-dragging {
    -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
    box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
}

/* Individually coloured cards */
#card1.correct {
    background: red;
}

#card2.correct {
    background: brown;
}

#card3.correct {
    background: orange;
}

#card4.correct {
    background: yellow;
}

#card5.correct {
    background: green;
}

#card6.correct {
    background: cyan;
}

#card7.correct {
    background: blue;
}

#card8.correct {
    background: indigo;
}

#card9.correct {
    background: purple;
}

#card10.correct {
    background: violet;
}

/* "You did it!" message */
#successMessage {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0;
    height: 0;
    z-index: 100;
    background: #dfd;
    border: 2px solid #333;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
    -webkit-box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
    box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
    padding: 20px;
}

#desc .izquierda_flecha{ left:10px;}
#desc .derecha_flecha{ right:10px;}
textarea {
    resize:none;
    font-size: 15px;
}
